.answersListItem {
    position: relative;
    display: flex;
    align-items: center;
    padding: 4px 24px 4px 44px;
}

.answersListItemCorrect {
    background-color: #00c9471a;
}

.answersListItemIncorrect {
    background-color: #ff00001a;
}

.answersListItemCorrect:before,
.answersListItemIncorrect:before {
    background-position: 6px center;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    position: absolute;
    left: 10px;
    width: 30px;
    height: 100%;
    content: '';
}

.answersListItemCorrect:before {
    background-image: url('../../../../assets/icons/correct.svg');
}

.answersListItemIncorrect:before {
    background-image: url('../../../../assets/icons/incorrect.svg');
}

.answersListItem:not(:last-child) {
    margin-bottom: 8px;
}

.answersListItem label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1.286;
    color: #2e3038;
    cursor: pointer;
    margin: 0;
}

.answersListItem input {
    cursor: pointer;
    margin-right: 14px;
}

@media screen and (min-width: 768px) {

    .answersListItem {
        width: 100%;
        padding-left: 62px;
    }
}