.headerBack {
    background-color: rgb(40, 64, 96);
    box-shadow: 0px 24px 40px 0px rgba(0, 0, 0, 0.13);
    margin: 0 auto;
    width: 240px;
    height: 353px;
    padding-top: 50px;
}
.quoteWrapper{
    width: 222px;
    margin: 0 auto;
}

.headerQuoteIcon{
    background-image: url("../../assets/icons/sign.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: block;
    margin: 0 auto;
    fill: rgb(252, 132, 44);
    margin-bottom: 26px;
}

.headerQuote{
    font-size: 20px;
    font-family: 'PlayfairDisplay-BoldItalic';
    color: rgb(255, 255, 255);
    line-height: 1.2;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.headerAuthor{
    font-size: 14px;
    font-family: 'OpenSans-Regular';
    color: rgb(139, 146, 171);
    line-height: 1.2;
    display: block;
    text-align: center;
    margin-bottom: 42px;
}

.headerOnlineTests{
    font-size: 18px;
    font-family: "GothamPro-Bold";
    line-height: 1.2;
    display: block;
    text-align: center;
    color: rgb(255, 255, 255);
}
.headerOnlineTest{
    font-size: 18px;
    font-family: "GothamPro-Bold";
    line-height: 1.2;
    color: rgb(255, 255, 255);
    display: inline;
}
.headerLink{
    color: rgb(252, 132, 44);
    display: inline;
}
.headerLink:after{
    content: "";
    display: block;
    background-color: #5d5153;
    width: 82px;
    height: 1px;
    margin: 0 auto;
}




