.questionImgContainer {
    width: 100%;
    margin-bottom: 14px;
}

.questionImgContainer img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto 22px;
}

.formContainer {
    background-color: #ffffff;
    box-shadow: 0px 6px 12px 0px #00000026;
    padding: 34px 0 34px;
    margin: 0 auto;
}

.answersList {
    list-style: none;
    margin: 0;
}

.catImgInsertion {
    display: block;
    width: 50%; /* 140px/280px */
    height: auto;
    padding-top: 36px;
    margin: 0 auto;
}

.btnContainer {
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 28px 0;
}

.giveAnswerBtn,
.skipAnswerBtn {
    border-radius: 16px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    width: 136px;
    height: 32px;
}

.giveAnswerBtn {
    background-color: #fc842c;
    box-shadow: 0px 6px 10px 0px #fc842c54;
    border: none;
    color: #ffffff;
    margin-right: 10px;
}

.skipAnswerBtn {
    background-color: #ffffff00;
    border: 1px solid #8b92ab;
    color: #8b92ab;

}

@media screen and (min-width: 768px) {

    .baseContainer {
        position: relative;
        margin: 0 auto;
    }

    .answersListContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .formContainer {
        box-shadow: 0px 24px 40px 0px #00000021;
        position: relative;
        padding: 54px 0 120px 50px;
        margin: 0;
        z-index: 30;
    }
    
    .answersList {
        width: 56%;
    }

    .catImgInsertion {
        width: 44%;
        height: 100%;
        padding: 0 70px 0 24px;
        margin: 0;
    }

    .btnContainer {
        justify-content: start;
        background-color: #f2f2f200;
        width: 50%;
        left: 114px;
        bottom: 58px;
        padding: 0;
    }

    .giveAnswerBtn,
    .skipAnswerBtn {
        width: 140px;
        height: 32px;
    }

    .giveAnswerBtn {
        margin-right: 22px;
    }

    .orangeBG {
        background-color: rgb(252, 132, 44);
        position: absolute;
        right: -22px;
        top: -20px;
        width: 600px;
        height: 300px;
        z-index: -10;
    }
}

@media screen and (min-width: 1280px) {
    .baseContainer {
        max-width: 690px;
    }

    .giveAnswerBtn {
        box-shadow: none;
    }
    
    .giveAnswerBtn:hover,
    .giveAnswerBtn:focus {
        transform: scale(1.1);
        box-shadow: 0px 6px 10px 0px #fc842c54;
    }

    .skipAnswerBtn:hover,
    .skipAnswerBtn:focus {
        transform: scale(1.1);
        box-shadow: 0px 6px 10px 0px #8b92ab;
    }
}