.cards {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}
.cards-user {
  display: flex;
  background: #ffffff;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid black; */
  padding: 40px 20px;
  margin-bottom: 30px;
}
.cards-user__img {
  width: 90px;
  height: 90px;
  border: 1px solid black;
  border-radius: 50px;
  margin-bottom: 20px;
}
.cards-user__name {
  font-family: "OpenSans-Bold";
  font-size: 20px;
  margin-bottom: 8px;
}
.cards-user__special {
  font-family: "OpenSans-Bold";
  font-size: 16px;
  margin-bottom: 5px;
}
.cards-user__email {
  font-family: "OpenSans-Regular";
  font-size: 16px;
  margin-bottom: 5px;
}
.cards-user__email span {
  text-decoration: underline;
}
.cards-user__linkedin {
  font-family: "OpenSans-Regular";
  font-size: 16px;
}

@media (min-width: 768px) {
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 0;
  }
  .cards-user {
    padding: 40px 59px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .cards-user__name {
    font-size: 24px;
  }
  .cards-user__special {
    font-size: 18px;
  }
}
@media (min-width: 1023px) {
  .cards-user {
    padding: 40px 72px;
  }
}
