.container {
  position: relative;
  height: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    position: static;
    width: 696px;
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1120px;
  }
}