.hiddenForMobile {
    display: none;
}

.titleContainer {
    display: flex;
    align-items: center;
    padding: 24px 0 0 4px;
    margin-bottom: 24px;
}

.returnLink {
    background-image: url('../../assets/icons/return.svg');
    background-position: 0 0;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    width: 26px;
    height: 16px;
}

.title {
    font-size: 14px;
    color: #2e3038;
}

.container {
    font-family: "GothamPro", sans-serif;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 26px;
}

.countTitle {
    font-size: 16px;
    color: #fc842c;
    text-align: center;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .hiddenForMobile {
        display: block;
    }

    .hiddenForTabletPlus {
        display: none;
    }

    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 42px;
    }

    .title,
    .countTitle {
        font-size: 22px;
    }

    .title {
        color: rgba(139, 146, 171, 0.502);
        margin: 0;
        padding: 0;
    }

    .countTitle {
        display: flex;
        border-bottom: 2px solid #fc842c;
        width: 140px;
        line-height: 1.8;
        padding-left: 8px;
    }

    .container span {
        margin-right: 6px;
    }

    .finishTestBtn {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        background-color: #fc832c00;
        border-radius: 16px;
        border: 1px solid #fc842c;
        color: #fc842c;
        width: 136px;
        height: 32px;
    }


}

@media screen and (min-width: 1280px) {
    .finishTestBtn:hover {
        transform: scale(1.1);
        box-shadow: 0px 6px 10px 0px #fc842c54;
        padding-bottom: 3px;
    }
}